<style>
.marquee__wrapper[data-v-2d2501c6]{position: absolute;white-space:nowrap;overflow:hidden;background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/holo-strip.jpg?v=1679647897); width: 100%; color: #6b24b2;text-transform:uppercase;padding:2px 0;z-index:10;top: 0px;}
  .marquee[data-v-2d2501c6]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
  .marquee__inner[data-v-2d2501c6]{-webkit-animation:marquee-data-v-2d2501c6 3s linear infinite;animation:marquee-data-v-2d2501c6 3s linear infinite}
  .marquee__text[data-v-2d2501c6]{display:inline-block;margin-right:5.3em;font-size:15px}
  .marquee__wrapper[data-v-2d2501c6] img{width:50px;margin-right: 10px;display:none}
  @keyframes marquee-data-v-2d2501c6 {
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    100%{-webkit-transform:translateX(-100%);transform:translateX(-100%)}
  }
  @media(max-width:480px){
    .marquee__inner[data-v-2d2501c6]{width:100px}
    .marquee__wrapper{padding:5px 0}
  .marquee__wrapper[data-v-2d2501c6] img {width: 30px;margin-right: 5px;vertical-align: top;}
    .marquee__text[data-v-2d2501c6]{margin-right:9.3em; font-size:12px}
  }
</style>
  
<div id="marq" data-v-2d2501c6="" class="marquee__wrapper marquee__wrapper-theme--default"><div data-v-2d2501c6="" class="marquee">
    <div data-v-2d2501c6="" class="marquee__inner"><span data-v-2d2501c6="" class="marquee__text">
       New Arrival!
      </span><span data-v-2d2501c6="" class="marquee__text">
       New Arrival!
      </span></div>
  <div data-v-2d2501c6="" class="marquee__inner"><span data-v-2d2501c6="" class="marquee__text">
       New Arrival!
      </span><span data-v-2d2501c6="" class="marquee__text">
       New Arrival!
      </span></div>
   </div></div>