
{% if product.id == 7630818181315 %}
    <style>
        .bits-desk{display:block;max-width:100%}
        .bits-mob{display:none}
        @media(max-width:450px)
        {
            .bits-desk{display:none}
            .bits-mob{display:block; max: width 100%;padding:10px}
        }
    </style>
    <div class="glam-up-bits">
        <div class="bits-desk">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/brand_promise_2.jpg?v=1697627521" alt="Best Bits Broken Desktop" style="width:100%; height:auto">
        </div>
        <div class="bits-mob">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/brand-promise_2.jpg?v=1697196230" alt="Best Bits Broken Mobile" style="width:100%; height:auto">
        </div>
    </div>
{% endif %}