<style>
  .accordion-container{position:relative;max-width:1200px;height:auto;margin:50px auto;padding: 0 30px;}
  .accordion-container h2 {font-size: 20px;text-transform: lowercase;text-align: center;margin-top: 33px;}
  .settt {position: relative; width: 100%; height: auto; margin-bottom: 20px; border-radius: 15px; padding: 20px 30px; box-shadow: 0px 0px 0px 2px #e5e3e3}
  .settt::before{transition:0.2s;position:absolute;content:""; width:50px;height:40px;background:url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/wing.png?v=1654709422);left:-35px; top:-20px;background-size:100%;background-repeat:no-repeat;background-position: center center; opacity:0}
  .settt.activee::before{opacity:1}
  .settt > a{width:80%;display:block;text-decoration:none;color:#6b24b2 ;font-weight:600;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;}
  .settt > a i{float: right;background: #f2e7f7 ; padding: 8px; border-radius: 50%;position: absolute; right: 20px; top: 18px;}
  .settt.activee{background: #fdf0ff ; box-shadow: 0px 0px 10px 0px #cdcdcd;}
  .contenttt{display:none}
  .contenttt p{padding:20px 0 0;margin:0;color:#333;}
</style>
<div class="accordion-container lazyloadt4sed">
    <h2>for the truth seekers</h2>
    <div class="settt activee" data-aos="fade-up">
    <a href="#">
      I'm new to face shaving, how do I get started?
      <i class="fa fa-plus"></i>
    </a>
    <div class="contenttt" style="display:block">
      <p>It's super simple to get started with face shaving:
      <ol>
          <li>Cleanse your face and pat dry. </li>
          <li>Apply a thick layer of aloe gel.</li>
          <li>Hold skin tight and glide Bombae face razor in a downward direction while applying as little pressure as possible.</li>
          <li>Apply aloe gel to moisturize and shine</li>
      </ol></p>
    </div>
  </div>
    <div class="settt" data-aos="fade-up">
    <a href="#">
      Is the face razor reusable
      <i class="fa fa-plus"></i>
    </a>
    <div class="contenttt" style="display:block">
      <p>Yes, it is. You can use a single face razor upto 6-8 times.</p>
    </div>
  </div>
    <div class="settt" data-aos="fade-up">
    <a href="#">
      Does hair grow back thicker post shaving?
      <i class="fa fa-plus"></i>
    </a>
    <div class="contenttt" style="display:block">
      <p>The good news is, that it clinically proven that hair does not grow back thicker or coarser after shaving.</p>
    </div>
  </div>
    <div class="settt" data-aos="fade-up">
    <a href="#">
      Are face razors suitable for all skin types?
      <i class="fa fa-plus"></i>
    </a>
    <div class="contenttt" style="display:block">
      <p>Yes face razors are suitable for all skin types -  from dry to normal to sensitive</p>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {

  $(".settt").on("click", function(e) {
    e.preventDefault();
    if ($(this).hasClass("activee")) {
      $(this).removeClass("activee");
      $(this)
        .children(".contenttt")
        .slideUp(200);
      $(".settt > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".settt > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".settt").removeClass("activee");
      $(this).addClass("activee");
      $(".contenttt").slideUp(200);
      $(this)
        .children(".contenttt")
        .slideDown(200);
    }
  });
});
  </script>