<style>
    .htu img {
    width: 406px;
    margin: 0 auto;
}
    @media(max-width:450px){
        .htu {
            margin: 0 12px;}
        .htu.slick-active{transform:scale(1.09);transition:0.4s}
        .htu img{filter:brightness(0.5)blur(1px)grayscale(1);width:100%}
        .htu.slick-active img{filter:none}
    }
</style>
<div class="main-htu">
    <div class="htu-slider">
        <div class="htu htu-slide-1">
            
            <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/1_3_31e386ef-22c2-4a63-a39d-25159bbfc745.png?v=1696529044" alt="slide 1"></h2>
        </div>
        <div class="htu htu-slide-1">
            <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/2_3_f12070a3-2d4c-430c-a52b-091703310cf0.png?v=1696529044" alt="slide 1"></h2>
        </div>
        <div class="htu htu-slide-1">
            <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/3_1_45890056-07f0-4a13-b5da-24dba9e1bea3.png?v=1696529044" alt="slide 1"></h2>
        </div>
    </div>
</div>
<script>
  $('.htu-slider').slick({
    slidesToShow:3,
    dots: false,
    autoplay: true,
    autoplaySpeed: 2000,
    infinite: true,
    arrows: false,
    responsive:[
      {
        breakpoint:500,
        settings:{
          slidesToShow:1,
          arrows: false,
    centerPadding: '80px',
    centerMode: true
        }
      }
    ]
  });
</script>