{% if product.id == 7630818181315 %}
    <style>
        .glam-gifs-flex {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    width: 1230px;
    margin: 0 auto;
}
.child-text {
    text-align: center;
}
@media(max-width:450px){
    .glam-gifs-flex{flex-direction: column;}
    .child-img h2 {text-align: center;}
}
    </style>
    <div class="glam-gifs">
    <div class="glam-gifs-flex">
        <div class="glam-child child-1">
            <div class="child-text">
                <h3>Goodbye fuzz, hello glam</h3>
            </div>
            <div class="child-img">
                <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/face-raze.gif?v=1697110589" alt="first gif" style="width:!00%; height:auto"></h2>
            </div>
        </div>
        <div class="glam-child child-1">
            <div class="child-text">
                <h3>Sparkle glitter,<br>with a side of glitter</h3>
            </div>
            <div class="child-img">
                <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/glitter.gif?v=1697110589" alt="first gif" style="width:!00%; height:auto"></h2>
            </div>
        </div>
        <div class="glam-child child-1">
            <div class="child-text">
            <h3>Your makeup bestie</h3>
        </div>
            <div class="child-img">
                <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/makeup_2e2908bb-f00a-413b-a93e-de600fe5d5fc.gif?v=1697110589" alt="first gif" style="width:!00%; height:auto"></h2>
            </div>
        </div>
    </div>
</div>
{% endif %}    