{% if product.id == 7630818181315 %}
    <div class="glam-up-bits">
        <div class="bits-desk">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/best-bits.jpg?v=1697107401" alt="Best Bits Broken Desktop" style="width:100%; height:auto">
        </div>
        <div class="bits-mob">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/best-bits.jpg?v=1697107401" alt="Best Bits Broken Mobile" style="width:100%; height:auto">
        </div>
    </div>
{% endif %}