<style>
  .yt-vid iframe {
    height: 576px;
    padding: 21px;
    border-radius: 35px;
}
  .video-htu h2 {
    font-family: Recoleta-SemiBold;
    text-align: center;
    color: #6b24b2;
    padding: 18px 0;
}
  @media(max-width:500px){
    .yt-vid iframe {
    height: 270px;
    padding: 10px;
    border-radius: 20px;
}
  .video-htu h2 {
      font-size:18px;
}
  }
</style>
<div class="video-htu">
  <h2> How to Use Fuzz off Sensitive Trimmer</h2>
  <div class="yt-vid">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/4W44H5zKhRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>