{% comment %} <div class="collection-desc">
  <div class="coll-desc-main">
    {{ collection.description }}
  </div>
</div>
{% schema %}
  {
    "name": "Collection Description",
    "settings": [],
    "presets":[
      {
        "category":"collection",
        "name": "COllection Description"
      }
    ]
  }
{% endschema %} {% endcomment %}
