<style>
  .badacontainer{max-width:1400px; display:flex;margin:0 auto;flex-flow:wrap}
  .contempt{width:30%;}
  .containee{
    width:70%;
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow:hidden;
    
}
  .imz11{
    position: relative;
    left: 300px;
    top: 24px;
}
  .imz11 img{width:80%; margin-bottom:30px;}
  .contempt{margin-top:11%;padding-left:30px;}
  .contempt h2{
    font-size:40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    color: #8548AC;
    margin-bottom:10px;
  }
  .contempt p{
    font-size:20px;
    font-weight:300;
    line-height:1;
  }
  .but1{padding:12px 55px;margin-left:5px;}
  #shopify-section-template--15642118848707__16576977198a56240f .contempt{margin-left:20px;}

  @media(max-width:480px){
    .imz11{
      top:40px;
      left:40px;
    }
    
  }
</style>



<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div class="badacontainer">
  <div class="contempt">
    <h2>pay on your terms</h2>
    <p>with frictionless booking and <br>flexi-payment options</p>
    <div class="butto"><a href="https://bombaelaser.zenoti.com/webstorenew"><button class="but1 button button_primary">BOOK NOW</button></a></div>
  </div>
  <div class="containee">
  <div class="imz11"data-aos="fade-up"
     data-aos-duration="2000" data-aos-anchor-placement="top-bottom">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_31.png?v=1657801961" alt="#">
  </div>
</div>

</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% schema %}
{
  "name": "fade slide 2",
  "class": "fadee2",
  "settings": [],
  "presets": [
      {
        "name": "Fade slide 2s",
        "category": "image"
      }
    ]
}
{% endschema %}