<style>
  .badacontainer{max-width:1400px; display:flex;margin:0 auto;flex-flow:wrap;}
  .contempt{width:30%;}
  .containee{
    font-family:"recoleta", sans-serif;
    width:70%;
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow:hidden;
    
}
  .imz1{
    position: relative;
    left: 110px;
    top: 24px;
}
  .imz2{
    position:relative;
    z-index:1;
    margin-top:12px;
    
  }
  .imz3{
    position:relative;
    right:99px;
    top:45px;
  }
  .contempt{margin-top:11%;padding-left:25px;}
  .contempt h2{
    font-size:40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    color: #8F489B;
    margin-bottom:5px;
  }
  .contempt h1{
    font-size:40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    color: #8F489B;
    margin-bottom:5px;
  }
  .contempt p{
    font-size:20px;
    font-weight:300;
    line-height:1;
    color: #8F489B;
  }
  .but1{padding:12px 55px;margin-left:5px;}
  #shopify-section-template--15642118848707__16576977198a56240f .contempt{margin-left:20px;}
  
  
  
  
 @media(max-width:480px){
   .badacontainer{width:100%;}
   .containee {order:1;width: 100%!important;}
   .contempt{order:2;width:100%!important; padding-left:0px!important;margin:3%!important;}
   .contempt h2{font-size:24px!important; font-weight:400!important; text-align:center;}
   .contempt p{font-size:18px!important;text-align:center;}
   .imz1{position: relative;left: 50px;top: 14px;}
  .imz2{position:relative;z-index:1;top: 7px;}
  .imz3{position:relative;right:45px;top:20px;}
   .butto{display: flex;justify-content: center;margin: 0 auto;}
   .but1{padding:5px 20px!important;margin-left:0px!important;}
 }
  
</style>



<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div class="badacontainer">
  <div class="contempt">
    <h1>change your hair removal game</h1>
    <p>and say yes to Bombae laser</p>
    <div class="butto"><a href="https://onelink.to/vdwe5m
"><button class="but1 button button_primary">DOWNLOAD THE APP</button></a></div>
  </div>
  <div class="containee">
  <div class="imz1"data-aos="fade-up"
     data-aos-duration="2000"  data-aos-delay=1000>
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/4_1_105628a6-cd4c-40e5-9a8c-0180091e3747.png?v=1657791927" alt="#">
  </div>
  <div class="imz2"data-aos="fade-up"
     data-aos-duration="2000"  data-aos-delay="500">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/2_8e3ecd24-1a0d-4abb-ab3d-0fe2ae009c16.png?v=1657791927" alt="#">
  </div>
  <div class="imz3"data-aos="fade-up"
     data-aos-duration="2000" data-aos-delay="1500">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/3_1049e7d1-1143-42e5-99db-3e5e1447e7e4.png?v=1657791927" alt="#">
  </div>
</div>

</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% schema %}
{
  "name": "fade slide",
  "class": "fadee",
  "settings": [],
  "presets": [
      {
        "name": "Fade slide",
        "category": "image"
      }
    ]
}
{% endschema %}