<style>
  @font-face {
      font-family: Recoleta-Black;
      src: url("https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Recoleta-Black.ttf?v=1658817151") format("woff");
      src: url("https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Recoleta-Black.woff2?v=1658817151") format("woff");
      src: url("https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Recoleta-Black.ttf?v=1658817151") format("opentype");
  }
  .badacontainer{max-width:1400px; display:flex;margin:0 auto;flex-flow:wrap}
  .contempt{width:30%;}
  .containee{
    width:70%;
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow:hidden;
    
}
  .imz12{
    position: relative;
    left: 205px;
    top: 24px;
}
  .imz12 img{width:80%; margin-bottom:30px;}
  .contempt{margin-top:11%;padding-left:30px;}
  .contempt h2{
    font-family:Recoleta-Black;
    font-size:40px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    color: #8548AC;
    margin-bottom:10px;
  }
  .contempt p{
    font-family:Recoleta-Black;
    font-size:20px;
    font-weight:300;
    line-height:1;
  }
  .but1{padding:12px 55px;margin-left:5px;}
  #shopify-section-template--15642118848707__16576977198a56240f .contempt{margin-left:20px;}
  @media(max-width:480px){
    .imz12{
      top:40px;
      left:40px;
    }
  }
</style>



<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div class="badacontainer">
  <div class="contempt">
    <h2>Feel pampered like never before</h2>
    <p>services curated for you by experts <br> in a luxury ambience</p>
    <div class="butto"><a href="https://vimeo.com/733863204" target="_blank"><button class="but1 button button_primary">EXPERIENCE BOMBAE</button></a></div>
  </div>
  <div class="containee">
  <div class="imz12"data-aos="fade-up"
     data-aos-duration="2000" data-aos-anchor-placement="top-bottom">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Vector.png?v=1658314485" alt="#">
  </div>
</div>

</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% schema %}
{
  "name": "fade slide 4",
  "class": "fadee2",
  "settings": [],
  "presets": [
      {
        "name": "Fade slide 4",
        "category": "image"
      }
    ]
}
{% endschema %}