<style>
  #shopify-section-template--15642118848707__16576995225cf78d3c .set > a {font-family:Recoleta-black;}
  #shopify-section-template--15642118848707__16576995225cf78d3c .accordion-container > h2{font-family:Recoleta-black; color: #8548AC;}
  #shopify-section-template--15642118848707__1658140457ac9b32ef .frontz p {
    margin-bottom: 0;
    font-family: recoleta-black;
}
  #shopify-section-template--15642118848707__1658135923d6c26ef2 .frontz p {
    margin-bottom: 0;
    font-family: recoleta-black;
}
  #shopify-section-template--15642118848707__1658135923d6c26ef2 .backz p {
    font-size: 20px;
    font-family: recoleta-black;
    text-align: left;
    color: #7428AB;
}
  #shopify-section-template--15642118848707__1658140457ac9b32ef .backz p {
    font-size: 20px;
    text-align: left;
    color: #7428AB;
    font-family: recoleta-black;
}
  .nt_se_template--15642118848707__165769594276a6ef05 .h4 {
    font-size: 20.5px;
    FONT-FAMILY: recoleta-black;
    color: #8548AC;
}
  .shopify-section-header_3 .col{padding-left:14px}
  #shopify-section-template--15642118848707__16576937922dec3619 .marquee__inner[data-v-2d2501c6]{animation:marquee-data-v-2d2501c6 6s linear infinite;}
  .accordion-container{position:relative;max-width:1200px;height:auto;margin:50px auto;padding: 0 30px;}
  .set::before{transition:0.2s;position:absolute;content:""; width:50px;height:40px;background:url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/wing.png?v=1654709422');left:-35px; top:-20px;background-size:100%;background-repeat:no-repeat;background-position: center center; opacity:0}
  .set.active::before{opacity:1}
  .nt_menu>li>a{
    padding-right: 13.5px;
    padding-left: 13.5px;
}
   
  .accordion-container > h2{text-align:center;color:#9234ff ;padding-bottom:5px;margin-bottom:20px;padding-bottom:15px;}
  .set {position: relative; width: 100%; height: auto; margin-bottom: 20px; border-radius: 15px; padding: 20px 30px; box-shadow: 0px 0px 0px 2px #e5e3e3}
  .set::before{transition:0.2s;position:absolute;contentz:""; width:50px;height:40px;background:url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/wing.png?v=1654709422);left:-35px; top:-20px;background-size:100%;background-repeat:no-repeat;background-position: center center; opacity:0}
  .set.active::before{opacity:1}
  .set > a{width:80%;display:block;text-decoration:none;color:#9234ff ;font-weight:600;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear}
  .set > a i{float: right;background: #f2e7f7 ; padding: 8px; border-radius: 50%;position: absolute; right: 20px; top: 18px;}
  .set.active{background: #fdf0ff ; box-shadow: 0px 0px 10px 0px #cdcdcd;}
  .contentz{display:none}
  .nt_se_template--15642118848707__165769710940ba2e58 .content h3 { padding-top:6px;}
  #shopify-section-template--15642118848707__165769710940ba2e58{padding-left:150px;}
  #shopify-section-template--15642118848707__16576960949327432d .bt1{padding-left: 80px;padding-right: 80px;padding-top: 10px;padding-bottom: 10px;font-size: 20px;}
  #shopify-section-template--15642118848707__165771027975d24982 .bg-grad{background:white;}
  #shopify-section-template--15642118848707__165771027975d24982 .bg-grad h3{font-size:60px; padding-right:80px;}
  #shopify-section-template--15642118848707__165771027975d24982 .bg-grad p {margin-bottom: 0em;font-size: 30px;padding-right: 80px;}
  #shopify-section-template--15642118848707__165770993016835a85 .bg-grad{background:white;}
  #shopify-section-template--15642118848707__1657709098b480083a .bg-grad{background:white;}
  #shopify-section-template--15642118848707__1657709098b480083a .bg-grad h3{font-size:60px; padding-left:80px;}
  #shopify-section-template--15642118848707__1657709098b480083a .bg-grad p {margin-bottom: 0em;font-size: 30px;padding-left:80px;}
  #shopify-section-template--15642118848707__165770993016835a85 .bg-grad h3{font-size:60px; padding-left:80px;}
  #shopify-section-template--15642118848707__165770993016835a85 .bg-grad p {margin-bottom: 0em;font-size: 30px; padding-left:80px;}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-0{font-size:45px;}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-2{font-size:45px;}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_30884e5d-2dd2-4e04-af16-f6fadd747e5d{font-size:45px;}
  .nt_se_template--15642118848707__165771088261834c72 #b_1657710881a4ddb87a-4{margin-top:100px;font-size:20px;}
  #shopify-section-template--15642118848707__165771027975d24982 .button_primary{padding-left:10px;padding-right:10px;font-size:20px;margin-top:50px;}
  #shopify-section-template--15642118848707__165770993016835a85 .button_primary{padding-left:20px;padding-right:20px;font-size:20px;margin-top:50px;}
  #shopify-section-template--15642118848707__1657709098b480083a .button_primary{padding-left:10px;padding-right:10px;font-size:20px;margin-top:50px;}
  .contentz p{padding:20px 0 0;margin:0;color:#333}
  .type_feature_columns .rte-setting>p{margin-bottom:0px;}
  .nt_se_template--15642118848707__1657704058d92cde6a .nt_promotion h3{font-size:30px; font-weight:700;margin-top:160px;}
  #shopify-section-template--15642118848707__165771088261834c72 .nt_img_txt .pa.txt_content{margin-right:247px;}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_30884e5d-2dd2-4e04-af16-f6fadd747e5d {
    color: #8548AC;}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-2 {
    color: #8548AC;
}
  .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-0 {
    color: #8548AC;
  }
  @media(max-width:480px){
    #shopify-section-template--15642118848707__165769594276a6ef05 .mb__30{margin-bottom:0px;}
    .nt_se_template--15642118848707__165769594276a6ef05 .h4{font-size:18px;}
    .nt_se_template--15642118848707__165769594276a6ef05 .rte-setting>p{font-size:13px;}
    .nt_se_template--15642118848707__165769594276a6ef05 img{margin-bottom:0px;width:75px;}
    #shopify-section-template--15642118848707__165769594276a6ef05 .mt__30{margin-top:10px;}
    #shopify-section-template--15642118848707__16576960949327432d .bt1 {padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;font-size: 14px;}
    #shopify-section-template--15642118848707__1657709098b480083a .bg-grad h3 {font-size: 30px;padding-left: 0px;}
    #shopify-section-template--15642118848707__1657709098b480083a .bg-grad p {margin-bottom: 0em;font-size: 18px;padding-left: 0px;}
    #shopify-section-template--15642118848707__165770993016835a85 .bg-grad h3 {font-size: 31px;padding-left: 0px;}
    #shopify-section-template--15642118848707__165770993016835a85 .bg-grad p {margin-bottom: 0em;font-size: 18px;padding-left: 0px;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-0 {font-size: 30px;text-align: center;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_30884e5d-2dd2-4e04-af16-f6fadd747e5d {font-size: 30px;text-align: center;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-2 {font-size: 30px;text-align: center;}
    #shopify-section-template--15642118848707__165770993016835a85 .oh {overflow: hidden;padding: 10px;}
    #shopify-section-template--15642118848707__165771027975d24982 .bg-grad h3 {font-size: 30px;padding-right: 0px;}
    #shopify-section-template--15642118848707__165771027975d24982 .bg-grad p {margin-bottom: 0em;font-size: 18px; padding-right: 0px;}
    #shopify-section-template--15642118848707__165771027975d24982 .button_primary {padding-left: 10px;padding-right: 10px;font-size: 16px;margin-top: 20px;}
    .nt_se_template--15642118848707__165771088261834c72 #b_1657710881a4ddb87a-4 {margin-top: 40px;font-size: 18px; padding-right: 11px;margin-right: 50px;}
    #shopify-section-template--15642118848707__165769710940ba2e58 {padding-left:0px;}
    .nt_se_template--15642118848707__165769710940ba2e58 {padding-top: 9px !important;padding-right: 0 !important;padding-bottom: 0px !important;padding-left: 0 !important;}
    .nt_se_template--15642118848707__165769710940ba2e58 {padding-top: 30px !important;padding-right: 30px !important;padding-bottom: 2px !important;padding-left: 11px !important;}
    .pegk{margin-top:7px;}
    #shopify-section-template--15642118848707__165771088261834c72 .js_full_ht4{min-height:53vh;}
    #shopify-section-template--15642118848707__165771088261834c72 .pa_txts.mb_v_pos50 {top: 40%;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-0{font-size:20px;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_1657710881a4ddb87a-2{font-size:20px;}
    .nt_se_template--15642118848707__165771088261834c72 .nt_img_txt #b_30884e5d-2dd2-4e04-af16-f6fadd747e5d{font-size:20px;}
    .nt_se_template--15642118848707__165771088261834c72 #b_1657710881a4ddb87a-4 {margin-top: 23px;font-size: 15px;padding-right: 11px;margin-right: 90px;}
    .contempt p {
    font-size: 18px!important;
    text-align: center;
    font-weight: 500!important;
}
    #shopify-section-template--15642118848707__165771088261834c72 .nt_img_txt .pa.txt_content{margin-right:0;}
</style>


<div class="accordion-container">
  <h2>for the truth seekers</h2>
  <div class="set active" data-aos="fade-up">
    <a href="#">
      Is laser hair reduction treatment safe?
      <i class="fa fa-minus"></i>
    </a>
    <div class="contentz" style="display:block">
      <p>Laser Hair reduction is a 100% safe treatment performed under an expert dermatologist's supervision.</p>
    </div>
  </div>
  <div class="set" data-aos="fade-up"  data-aos-delay="50">
    <a href="#">
     Is laser hair reduction treatment painful? 
      <i class="fa fa-plus"></i>
    </a>
    <div class="contentz">
      <p>We use FDA-approved Soprano Diode Machine which is highly safe, effective and painless.</p>
    </div>
  </div>
  <div class="set" data-aos="fade-up"  data-aos-delay="100">
    <a href="#">
      what is the procedure followed for skin and hair removal treatment?
      <i class="fa fa-plus"></i>
    </a>
    <div class="contentz">
      <p>We provide customised skin and hair reduction treatment after a free dermat consultation.</p>
    </div>
  </div>
  <div class="set" data-aos="fade-up"  data-aos-delay="150">
    <a href="#">
     Is there any downtime after treatments?
      <i class="fa fa-plus"></i> 
    </a>
    <div class="contentz">
      <p>yes, basis the procedure some treatments may have downtime which will be well informed to you by our Dermatologist</p>
    </div>
  </div>
    
</div>


<script>
  $(document).ready(function() {

  $(".set").on("click", function(e) {
    e.preventDefault();
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .children(".contentz")
        .slideUp(200);
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".set").removeClass("active");
      $(this).addClass("active");
      $(".contentz").slideUp(200);
      $(this)
        .children(".contentz")
        .slideDown(200);
    }
  });
});
</script>


























{% schema %}
{
  "name": "FAQ",
  "class": "faqs",
  "settings": [],
  "presets": [
      {
        "name": "FAQ",
        "category": "Text"
      }
    ]
}
{% endschema %}