<style>
  .sec-img{padding:50px 0}
  .sec-img .container {max-width: 1000px;}
  .sec-img h3{font-size:36px;font-weight: 900;margin-bottom: 5px;}
  .sec-img p{font-size:20px}
  .sec-img.left{background:#f2e0ff}
  .sec-img.left.center{text-align:center}
  .sec-img.left .row{flex-flow:row-reverse}
  a.radiobtn{background: #fff;padding: 10px 40px; font-size: 20px; border-radius: 50px; margin: 0 10px 30px;display:inline-block; text-align: center; box-shadow: 0 0 7px 0px #b5b5b5;}
  .nt_banner_holder{margin-top:0} 
  
   .acc__card{position:relative;margin-bottom:0}
  .acc__title{line-height:1.8;color:#000;cursor:pointer;display:block;position:relative;text-align:left;letter-spacing:.33px;border-top:1px solid #aaa;font-size:14px;padding-top:15px;padding-bottom:15px;padding-right:2.7rem}
  .acc__title.last-title{border-bottom:1px solid #aaa}
  .acc__title::after{width:8px;height:8px;border-right:1px solid #000;border-bottom:1px solid #000;position:absolute;right:10px;content:" ";top:17px;transform:rotate(45deg);transition:all .2s ease-in-out}
  .acc__title.active::after{transform:rotate(-135deg);transition:all .2s ease-in-out}
  .acc__panel{color:#666;font-size:0.8rem;display:none;margin:0;text-align:left;padding-top:0;padding-bottom:20px}

  
  @media(max-width:480px){
    .sec-img.left .row, .sec-img .row{flex-flow:wrap-reverse}
    .sec-img {padding: 50px 0 20px;}
    .sec-img h3{font-size:28px;font-weight: 900;}
  .sec-img p{font-size:16px}
    a.radiobtn{margin: 0 10px 50px;}
  }
  
</style>

<div class="sec-img left center mt__50">
  <div class="container">
    <h3>Find your size</h3>
    <p>What's your age?</p>
    <a href="/products/reusable-menstrual-cup-sterilizer-container?variant=41570841166019" class="radiobtn">19-30</a>
    <a href="/products/reusable-menstrual-cup-sterilizer-container?variant=41570841198787" class="radiobtn">30+</a>
    
  </div>
</div>

<div class="sec-img">
  <div class="container">
    <a href="/blogs/news/how-to-use-the-menstrual-cup">
    <div class="row al_center">
      <div class="col-md-6">
        <h3>How to really use it?</h3>
        <p>Don’t worry we got you bae.</p>
        <a href="/blogs/news/how-to-use-the-menstrual-cup" class="button button_primary">Learn more</a>
      </div>
      <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Banner-6.jpg?v=1649444108">
      </div>
    </div>
    </a>
  </div>
</div>

<div class="sec-img left">
  <div class="container">
    <div class="row al_center">
      <div class="col-md-6">
        <h3>How to fold the menstrual cup?</h3>
        <p>Get your folds right.</p>
      </div>
      <div class="col-md-6">
        <video playsinline width="100%" preload="meta" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Menstrual_Cup____How_to_use____BSC_Women.mov?v=1649659329" controls ></video>
      </div>
    </div>
  </div>
</div>

<div class="sec-img">
  <div class="container">
    <a href="/products/cup-intimate-wash-steriliser">
    <div class="row al_center">
      <div class="col-md-6">
        <h3>For best experience</h3>
        <p>Use with sterilizer & intimate wash</p>
      </div>
      <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Banner-8.png?v=1649659881">
      </div>
    </div>
          </a>
  </div>
</div>

<div class="sec-img left">
  <div class="container">
    <div class="row al_center">
      <div class="col-md-6">
        <h3>We’re here to help you out!</h3>
        <p>Have questions? Drop us a mail and we’ll help you out.</p>
        <div class="acc">
      
      <div class="acc__card">
     <div class="acc__title active">Does a menstrual cup hold more blood than a pad?</div>
     <div class="acc__panel" style="display:block">A menstrual cup collects roughly up to twice the amount more blood than a sanitary pad. </div>
     </div>
     <div class="acc__card">
     <div class="acc__title">How do I use a menstrual cup in a public toilet?</div>
     <div class="acc__panel" style="">Wash your hands. You can then take a small bottle of water into the toilet cubicle with you. Remove the cup, tip the contents into the toilet bowl, rinse with a small amount of water and re-insert.</div>
     </div>
     <div class="acc__card">
     <div class="acc__title">Can I pee or poop when I’m using a menstrual cup?</div>
     <div class="acc__panel" style="">Yes. The menstrual cup does not interfere with your ability to urinate or have a bowel movement.</div>
     </div>
     <div class="acc__card">
     <div class="acc__title">Can I use a cup if I have never used a tampon or never had penetrative sex before?</div>
     <div class="acc__panel" >Yes, anyone can use a menstrual cup! It is flexible, will adjust to your body without stretching your vagina, and is not at all painful.</div>
     </div>
    </div>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Banner-9.jpg?v=1649660095">
      </div>
    </div>
  </div>
</div>
<script>

  
  $(function() {
  $('.acc__title').click(function(j) {
    var dropDown = $(this).closest('.acc__card').find('.acc__panel');
    $(this).closest('.acc').find('.acc__panel').not(dropDown).slideUp();
    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
    } else {
      $(this).closest('.acc').find('.acc__title.active').removeClass('active');
      $(this).addClass('active');
    }
    dropDown.stop(false, true).slideToggle();
    j.preventDefault();
  });
});
  
 
</script>
{% schema %}
  {
    "name": "Image with Text custom",
    "settings": [],
	"presets": [
        {
          "category": "Text",
          "name": "Image with Text custom"
          
          
        }
      ]
  }
{% endschema %}