<div class="img-wthtext">
    <div class="container">
    <div class="row">
        <div class="col-4">
            <img src="" alt="">
        </div>
        <div class="col-8">
            <h2>Find your Bae</h2>
            <p></p>
            <a class="button button-primary" href=""></a>
        </div>
    </div>
    </div>
  </div>