<style>
  .col-6.b1{
    padding:0px;
    position:relative;
    transition:0.2s;
  }
  .col-6.b1::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.b1:hover::before{
    opacity:1;
  }
  .col-6.i1{
    padding:0px;
  }
  .col-6.i1::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i1:hover::before{
    opacity:1;
  }
  
  .col-6.i2{
    padding:0px;
  }
  .col-6.i2::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i2:hover::before{
    opacity:1;
  }
  
  .col-6.i3{
    padding:0px;
  }
  .col-6.i3::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i3:hover::before{
    opacity:1;
  }
  
  .col-6.i4{
    padding:0px;
  }
  .col-6.i4::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i4:hover::before{
    opacity:1;
  }
  
  .col-6.i3{
    padding:0px;
  }
  
  .col-6.i5{
    padding:0px;
  }
  .col-6.i5::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i5:hover::before{
    opacity:1;
  }
  
  .col-6.i6{
    padding:0px;
  }
  .col-6.i6::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s infinite;
}
  .col-6.i6:hover::before{
    opacity:1;
  }
  
  .col-6.i7{
    padding:0px;
  }
  .col-6.i7::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i7:hover::before{
    opacity:1;
  }
  
  .col-6.i8{
    padding:0px;
  }
  .col-6.i8::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.i8:hover::before{
    opacity:1;
  }
  
  .col-6.b2{
    padding:0px;
  }
  .col-6.b2::before{
  content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/pngfind.com-instagram-png-22629.png?v=1662116511) #0000005c;
    width: 100%;
    height: 100%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0;
}
  .col-6.b2:hover::before{
    opacity:1;
  }
  
</style>
<div class="container">
	<div class="row">
		<div class="col-6 b1">
            
          <a class="big" href="https://www.instagram.com/p/Ce6ah5lpAXW/"><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Lavisha_arora.png?v=1662111851" loading="lazy"></a>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-6 i1">
                  <a class="small" href="https://www.instagram.com/p/CeyJXN0pzus/"><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Chhavi.png?v=1662111850" loading="lazy"></a>
				</div>
				<div class="col-6 i2">
                  <a class="small" href="https://www.instagram.com/reel/CfouXGhPJZJ/?igshid=YmMyMTA2M2Y=" ><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Gauri.png?v=1662111853" loading="lazy"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-6 i3">
                  <a class="small" href="https://www.instagram.com/p/CfduMgIrz_M/"><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Arushi.png?v=1662111850"loading="lazy"></a>
				</div>
				<div class="col-6 i4">
                  <a class="small" href="https://www.instagram.com/p/CfbgTU1JI6i/?hl=en"><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Chaitali.png?v=1662111850" loading="lazy"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-6 i5">
                  <a class="small" href="https://www.instagram.com/reel/CZ1AHSMq32S/?igshid=YmMyMTA2M2Y="><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Shruti.png?v=1662111853" loading="lazy"></a>
				</div>
				<div class="col-6 i6">
                  <a class="small" href="https://www.instagram.com/reel/CaZFzHcF5OS/?igshid=YmMyMTA2M2Y="><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Akshita.png?v=1662111850" loading="lazy"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-6 i7">
                  <a class="small" href="https://www.instagram.com/reel/CgWEg1jAqVF/?igshid=YmMyMTA2M2Y="><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Kusha.png?v=1662111850" loading="lazy"></a>
				</div>
				<div class="col-6 col-sm-6 i8">
                  <a class="small" href="https://www.instagram.com/reel/CgTfujmFJMZ/?igshid=YmMyMTA2M2Y="><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/in_house.png?v=1662111850" loading="lazy"></a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-6 b2">
          <a class="big" href="https://www.instagram.com/reel/CZHkrW_Fbfh/?igshid=YmMyMTA2M2Y%3D"><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Ankita.png?v=1662111856" loading="lazy"></a>
		</div>
	</div>
</div>




{% schema %}
  {
  "name": "insta-grid",
  "class": "instagrid",
  "settings": [],
  "presets": [
      {
        "name": "insta grid fuzzoff",
        "category": "image"
      }
    ]
}
{% endschema %}