<style> 
  
  .SectionHeader.instax {
    margin-top: 30px;
    margin-bottom: 5px;
    }

  .SectionHeader__Heading.Heading.u-h1.mfk.instax{margin-bottom:15px;margin-top: 30px;}
  .instarevshomie { margin-top: 30px;position:relative}
  .igcard {box-shadow: 0 0 5px 0 rgba(0,0,0,0.3); width: 100%; border-radius: 0.5em; transition: 0.2s; position: relative; overflow: hidden; background: #6b25b2;margin:15px;text-align:center}
  .igcard video, .igcard img{display:block; min-height:350px; object-fit:cover}
  .igcard a{color: #fff;padding: 8px 0;display: block;}
  .next-slide svg, .prev-slide svg{width:15px;height:15px;fill:#29705a}
  .prev-slide svg{transform:rotate(180deg)}
  .next-slide, .prev-slide {width: 45px; height: 45px; display: inline-block; padding: 0 15px; cursor: pointer; -webkit-tap-highlight-color: transparent; position: absolute; background: #fff; border-radius: 50%; text-align: center; box-shadow: 0 0 10px #d2d2d2;display:flex!important;align-items:center;justify-content:center;transition:0.2s}
  .next-slide:hover, .prev-slide:hover{box-shadow: 0 0 15px #d2d2d2;}
  .next-slide{right:0}
  .controls{position:absolute;bottom:55%;width:96%;left:2%;display:none}
  @media(max-width:375px){

  }
  
  @media(min-width:786px){
    .igcard{margin:10px 20px}
    .instagrammy{padding:0 ;margin:0 90px} 

    .SectionHeader.instax {
    margin-top: 30px;
    margin-bottom: 15px;
    }
    .controls{display:block}
  }

</style>

<section id="section-{{ section.id }}" class="instarevshomie" data-section-id="{{ section.id }}">
  <div class="wrap_title  des_title_2">
		<h3 class="section-title tc pr flex fl_center al_center fs__24 title_2"><span class="mr__10 ml__10">Hear from our baes 💜</span></h3>
		<span class="dn tt_divider"><span></span><i class="dn clprfalse title_2 la-gem"></i><span></span></span><span class="section-subtitle db tc sub-title"></span>
		</div>
 <div class="instagrammy">
<div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/WhatsApp_Video_2022-01-25_at_1.33.11_PM.mov?v=1643111018#t=0.1"></video><a href="/products/women-6-in-1-trimmer">View Product</a></div>
<div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/are_you_team_waxing_or_shaving_as_someone_who_hates_waxing_i_kid_you_not_this_routine_has_made_my_life_so_much_easier._Ad_1._exfoliating_the_sk.mov#t=0.1"></video><a href="/products/defender-for-her-regime-kit">View Product</a></div>
<div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Ever_shaved_in_a_hurry_and_realised_that_you_ve_missed_a_spot_after_a_while_This_is_such_a_common_problem_and_I_have_the_perfect_solution_with_bscwomen_s_newly_launched_on-the-go_shav.mov#t=0.1"></video><a href="/products/twister-portable-razor-for-instant-touch-ups">View Product</a></div>
   
   <div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/10000000_615151956470117_8330794464110826765_n.mov#t=0.1"></video><a href="/products/hair-removal-cream">View Product</a></div>
   
<!--    <div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/What_s_Your_Go_to_Hair_Removal_Option_Shaving_or_Waxing_Me_being_A_Person_who_is_super_scared_to_do_Waxing_Shaving_has_always_been_my_Saviour_as_its_painless_easy_quick_and_I_can_do_i.mov#t=0.1"></video><a href="/products/body-regime-kit">View Product</a></div> -->
<div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/I_20used_20to_20believe_20no_201_20PS_20if_20you_20do_20shave_20your_20face_20I_20recommend_20you_20get_20the_20_40bscwomen_20biodegradable_20face_20and_20eyebrow_20razors.mov#t=0.1"></video><a href="/products/facial-hair-removal-kit">View Product</a></div>
   <div class="igcard"><video preload="meta" playsinline loop muted controls width="100%" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Have_been_using_these_products_and_razors_for_some_time_now_and_I_genuinely_love_the_way_it_treats_my_skin_So_do_give_this_a_try_and_you_won_t_regret_it._Thank_you_for_sharing_your_pr.mov#t=0.1"></video><a href="/products/smooth-sista-kit">View Product</a></div>
    
  </div>
  <div class="controls">
          <div class="prev-slide"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
          <div class="next-slide"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
      </div>
  
</section>


<script>

   $('.instagrammy').slick({
    slidesToShow: 4,
    slidesToScroll:1,
    lazyLoad: 'ondemand',
    autoplay: false,
    centerMode: false,
    pauseOnFocus:true,
    
    focusOnSelect: false,
    touchThreshold: 9,
    arrows: true,
    nextArrow: '.next-slide',
    prevArrow: '.prev-slide',
    dots: false,
     responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll:1,
        autoplay: false,
        centerMode: true,
        centerPadding:'30px',
        pauseOnFocus:true,
        speed:200,
        focusOnSelect: false,
        touchThreshold: 15,
        arrows: false,
        dots: false
      }
    }
  ]
  });

  
  
  
  $('.instagrammy').on('afterChange', function(){
    if ($(window).width() < 480){
      if($('.igcard').hasClass( "slick-active" )){
          $('.slick-active').find('video').trigger('play');
      }else{
          $('.igcard').find('video').trigger('pause');
      }
    }
  
});
  
  
  
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets": [
        {
          "category": "Text",
          "name": "Instagram Slideshow"
          
          
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
