<style>
  .nyka-text-1 h2 {
    font-size: 17px;
    text-align: center;
    line-height: 29px;
}
  .nyka-text-1 {
    max-width: 100%;
    padding: 0 10px;
}
  .video-nyka video {
    max-width: 100%;
}
  .nyka-text-2 {
    max-width: 100%;
    PADDING: 0 15px;
}
  .nyka-text-2 h2 {
    font-size: 17px;
    text-align: center;
}
  .nyka-text-3 h2 {
    font-size: 17px;
    text-align: center;
}
</style>
<div class="nyka-p">
  <div class="nyka-text-1">
    <h2>Here is how we rollplay-ed into town</h2>
  </div>
  <div class="video-nyka">
    <video onloadstart="this.volume=0.5" loop autoplay playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/dca515a7af284568b46d65b3bdf042d9.mp4" type="video/mp4">
    </video>
  </div>
  <div class="nyka-text-2">
    <h2>Fan of our rollplay? We are Bombae. BFFs. Groomies. Call us what you like. We reimagine hair removal for womankind. </h2>
  </div>
  <div class="image-nyka">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/3_1_4e0d9fc9-bbd5-4d15-a684-f989bddbfef8.webp?v=1692171024" style="width:100%;height:auto">
  </div>
  <div class="nyka-text-3">
    <h2>Let’s elevate personal care for women together! </h2>
  </div>
</div>
{% schema %}
  {
    "name": "nyka page second section",
    "settings": [],
    "presets":[
      {
        "category":"page",
        "name":"nyka page second section"
      }
    ]
  }
{% endschema %}