<style>
    .main-banners {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0 auto;
}
.ban{text-align:center}
.ban {
    width: 32.33%;
}
.ban img {
    box-shadow: 1px 2px 7px 3px #d4d4d4;
    border-radius: 20px;
}
@media(max-width:450px){
    .main-banners{flex-direction: column;}
    .ban {
    width: 100%;
    padding: 0px 16px;
}
}
</style>
<div class="main-banners">
    <div class="ban banner-1" data-aos="fade-up">
        <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Mask_Group_4_a5e87aa5-9311-40c8-8375-0877720755cd.webp?v=1697534368"></h2>
    </div>
    <div class="ban banner-2">
        <h2> <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Mask_Group_7_0713953e-4e5e-4f51-aace-26a8ed276272.webp?v=1697534368"></h2>
    </div>
    <div class="ban banner-3">
        <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_3_7a11eab4-8d7c-4483-bd67-90c4ccb9b640.webp?v=1697534368"></h2>
       
    </div>
</div>