<div class="main-banner">
    <div class="banner-1">
        <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Mask_Group_3.png?v=1696503384">
    </div>
    <div class="banner-1">
        <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Mask_Group_4.png?v=1696503383">
    </div>
    <div class="banner-1">
        <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Mask_Group_7.png?v=1696503384">
    </div>
</div>