jQuery_T4NT(document).ready(function($) {

     /**
     * Variant selection changed
     */
	  $( document ).on( "variant:change", function( evt, variant ) {
	    //console.log( variant );
	  });

});

$(".new-annbar,.type_toolbar_c3fc858a-7d55-4beb-9f2c-643e479cd619").click(function(){
  $(".new-annbar-wrapper").slideDown();
});
  $(".closxe ").click(function(){
  $(".new-annbar-wrapper").slideUp();
});
  
  $(".copytext").click(function() {
  $(this).addClass("active");
  setInterval(function(){ 
    $(".copytext").removeClass("active")
  }, 2000);
});
  $(".collectionheadimg").click(function() {
    $('html, body').animate({
        scrollTop: $(".page-title ").offset().top
    }, 500);
});
  function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
  

var upgradeTime = 600; // seconds
var seconds = upgradeTime;

function timer() {
  var days = Math.floor(seconds / 24 / 60 / 60);
  var hoursLeft = Math.floor(seconds - days * 86400);
  var hours = Math.floor(hoursLeft / 3600);
  var minutesLeft = Math.floor(hoursLeft - hours * 3600);
  var minutes = Math.floor(minutesLeft / 60);
  var remainingSeconds = seconds % 60;

  function pad(n) {
    return n < 10 ? "0" + n : n;
  }
  document.getElementById("timer").innerHTML =
    pad(minutes) + ":" + pad(remainingSeconds);
  if (seconds == 0) {
    seconds = upgradeTime;
  } else {
    seconds--;
  }
}
var countdownTimer = setInterval("timer()", 1000);

// ADD TO CART BUTTON DYNAMIC

// $('a.prodd').on('click', function(event) {
//   $('.status').text('Added 🔥');
//   setTimeout(function() {
//       ('a.prodd').text("Add to Cart");
//     }, 1000);
// });
  // var addToCartBtn = $("a.prodd");
  // addToCartBtn.on("click", function() {
  //   var status = $('.status');
  //   ('.status').text("🤑 Added");
  //   setTimeout(function() {
  //     addToCartBtn.text("Add to Cart");
  //   }, 2000);
  //});
var addToCartBtn = $("a.prodd");
  addToCartBtn.on("click", function() {
    var button = $(this);
    button.text("🤑 Added").fadeIn(600);
    setTimeout(function() {
      button.html('Add to Cart').fadeIn(600);
    }, 2000);
  });  

// $(document).ready(function(){
//   $(function() {
//   var $description = $('p.mg__0');
//   var $readmore = $('<a href="#">Read More</a>').addClass('readmore');
//   $description.after($readmore);
//   $readmore.click(function(event) {
//     event.preventDefault();
//     $description.toggleClass('expanded');
//     $(this).text($description.hasClass('expanded') ? 'Read Less' : 'Read More');
//   });
// });
// });
  