/*CUSTOM MFK CSS IS PASTED HERE */
@media (min-width: 800px){#ntheader{background:url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Holographic-Strip_1.jpg?v=1637915974)}}.slick-dots li button:before{font-size:10px!important}.slick-dots{bottom:0!important}.popup-quizz{position:fixed;bottom:20px;right:20px;width:80px;height:80px;border-radius:20px;z-index:499;overflow:hidden}.prod-pointers{display:none}.homebar{text-align:center;background:url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Holographic-Strip_1.jpg?v=1637915974);background-position-x:-40px}.ntheader .nt_menu>li>a{ color:#8247ad!important;letter-spacing:.2px;font-size:14px}.lazyloadt4sed .section-title{text-transform:lowercase;color:#6b24b2!important}#insta-feed h2{font-size:24px!important;color:#6b24b2!important;text-transform:lowercase}.sp-single .product-images .nt_labels{right:unset!important}.icons{margin:30px 0}.icons-img,.icon_text{display:flex;margin:10px 0;text-align:center}.icons-img .images{padding:0 40px;width:100%}.icons-img .images img{width:100%}.icon_text p{font-size:12px;font-weight:400;text-align:center;width:100%}.freebiee{display:none}.nt_labels{right:unset;transform-origin:left;left:0}@media(max-width:480px){.label_style_rectangular .nt_label{font-size:18px;min-width:70px}.single_add_to_cart_button.js_frm_cart{display:inline-block;width:60%;margin-top:0}.icons-img .images{padding:0 20px;width:100%}.type_feature_columns.type_carousel img{width:20%!important;display:inline-block!important}.type_feature_columns.type_carousel .category-content{width:80%!important;display:inline-block!important;text-align:left;vertical-align:10px;padding-left:25px}.h__banner .item_slide_ht{font-size:12px!important}.h__banner{padding:6px 0!important}}.richtext_c2eafa13-c6e3-473a-ae7d-47e7f4188833{border-bottom:1px solid #ccc;padding-bottom:0}.richtext_c2eafa13-c6e3-473a-ae7d-47e7f4188833 p{margin-bottom:5px}#shopify-block-800480f2-e88a-4daf-824f-9b7005197b75{margin-bottom:0}.h__banner{animation:instacol 4s linear infinite;-webkit-animation:instacol 4s linear infinite}@keyframes instacol{0%,100%{background:#515bd4}20%{background:#8134af}50%{background:#dd2a7b}80%{background:#dd2a7b}}.nt_mb_menu .cat_design_2 .cat_grid_item__link::before,.cat_design_3 .cat_grid_item__link::before{display:none!important}.nt_mb_menu .menu-item .cat_space_item{width:50%}.sub-menu.equal_nt.cat_design_2{display:flex;flex-flow:wrap}.nt_mb_menu .cat_design_2 .cat_grid_item__wrapper,.cat_design_3 .cat_grid_item__wrapper{display:none;font-size:10px;color:#6b24b2;background:#fff;text-shadow:none;padding:3px 0}.menu-item.menu-item-cat .cat_space_item:first-child{margin-top:15px}.discountify_txtbox_title{margin:0!important}.discountify_discount_wrap{padding:0!important}.discountify_manual_wrap{display:block!important}.discountify_pop_body input:not([type=submit]):not([type=checkbox]){display:none}.fullWidthVideo{text-align:center}#homevideo{width:auto}.jcXQXg h1,.jcXQXg p,.bg-grad h3,.bg-grad p{color:#8548ac!important; }.bg-grad h3{font-weight:700;font-size:36px}.bg-grad p{font-weight:400;font-size:16px;font-family:Montserrat,Lato}.jcXQXg{background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(188,169,209,1) 100%)}.cSPfCG img{object-position:top}.bg-grad{background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(188,169,209,1) 100%)}.pdp_tag_container{display:flex;flex-flow:wrap;text-align:center;justify-content:center;align-items:center}.pdp_tag_container img{width:33.33333%;padding:0 12px}@media(max-width:480px){.jddkUx{padding:20px 20px 30px!important}.txt_col_img{margin-top:10px!important}.popup-quizz{bottom:60px;right:15px}.iPnUzD{padding:30px 20px!important}.jcXQXg,.eBgKLd{min-height:unset!important}#homevideo{width:auto;height:200px}.bg-grad h3,.bg-grad p{text-align:center}.bg-grad h3{font-size:30px}#smile-ui-lite-launcher-frame-container{bottom:65px!important}.nt_se_template--15422878515395__16463905630aa8bee9 .item__position.center.center{padding-top:60%!important}.nt_se_template--15422878515395__16463905630aa8bee9 .txt_col_img{margin-top:10px!important}h1.product_title.entry-title{font-size:20px!important}}.thumb_bottom .p-nav .n-item:nth-child(4){display:none}.new-annbar{cursor:pointer;text-align:center;font-size:12px;background:#6b24b2;padding:5px 0;color:#fff;letter-spacing:.5px;font-weight:600}.new-annbar-wrapper{padding:60px 0;width:100%;height:100%;display:none;background:#000000c7;text-align:center;position:fixed;z-index:999999;left:0;top:0;backdrop-filter:blur(5px)}.new-annbar-wrapper ul{width:100%;max-width:500px;margin:0 auto}.new-annbar-wrapper ul li{list-style:none;background:#fff;margin:15px 0;border-radius:8px}.new-annbar-wrapper ul li .mediaobj{display:flex;flex-flow:wrap;align-items:center;position:relative}.new-annbar-wrapper ul li img{width:100px;margin-right:25px;padding:15px}.closxe{position:absolute;right:20px;top:20px;color:#fff;font-size:33px;cursor:pointer}.new-annbar-wrapper h4{color:#fff;font-size:26px}.oftext{width:calc(100% - 125px);text-align:left;padding-right:25px;display:block;cursor:pointer}.copytext{position:absolute;right:0;bottom:5px;background:#000;color:#fff;font-size:12px;padding:2px 25px 2px 5px}.copytext img{width:12px!important;margin:0!important}.copytext::after{width:12px;height:12px;background:url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/copy_2.png?v=1653390146);content:"";background-size:100%;background-repeat:no-repeat;position:absolute;top:5px;right:5px}.copytext::before{position:absolute;content:"COPIED";width:100%;height:100%;background:red;z-index:9;left:0;top:0;text-align:center;padding-top:2px;display:none}.copytext.active::before{display:block}@media(max-width:480px){.section-title{font-size:24px}#insta-feed h2{font-size:24px}.new-annbar-wrapper ul{padding:0 15px}.WhatsAppButton__root{display:none!important}#smile-ui-lite-launcher-frame-container{display:none}.bg-grad h3{font-size:24px}}@media(max-width:400px){#insta-feed h2{font-size:22px}.bg-grad h3{font-size:22px}.section-title{font-size:22px}}@media(max-width:1370px){.ntheader .nt_menu>li>a{padding:0 10px}}.WhatsAppButton__root{z-index:9!important}.whatsapp{position:fixed;width:50px;height:50px;bottom:111px;color:#FFF;text-align:center;font-size:30px;right:39px;z-index:100}.whatsapp-icon{width:48px;height:auto}@media(max-width:480px){.whatsapp{display:none}}
.kalles_toolbar_item img{max-width: 22px;}
/*CAREER PAGE CSS*/

#smoothie-job-content .job-page{
    box-shadow: none !important;
  }
/*CUSTOM MFK CSS IS PASTED HERE */


.jdgm-prev-badge__text{visibility:unset;text-decoration:underline}
important.otp{margin:1rem auto;width:fit-content;text-align:center;margin-top:364px}
#fw-player.cy-player{position:relative;z-index:6}
.otp-heading{font-size:20px;padding-bottom:30px;padding-top:56px;font-weight:700;letter-spacing:.5px}
#phone-number-country-code{width:27%;padding:0 1rem;margin-right:7px;height:41px;border:1px solid #6b24b2;border-radius:4px;background:#fafafa;font-size:13px;font-weight:300;color:#6b24b2;appearance:none}
#phone-number{width:70%;border:1px solid #6b24b2;font-size:13px;outline:0;padding:0 15px;border-radius:4px;max-width:100%}
#sign-in-button,#resend-otp,#confirm-code,#send-reset-pass,#back-btn{cursor:pointer;padding:11px 40px;font-size:14px;font-weight:600}
#code{width:85%!important}
#resend-otp{margin-right:5px!important}
#back-btn{margin-right:5px!important}
#confirm-code{margin-left:5px!important}
#display-number,#time{font-weight:700!important;font-size:13px!important;padding-left:4px!important}
.otp-title{display:flex!important;justify-content:space-between!important;align-items:center!important;margin-top:6%!important}
.WhatsAppButton__root{display:flex!important;flex-direction:column!important;align-items:center!important;z-index:0!important;position:fixed!important;bottom:108px!important;right:40px!important}

@media(max-width:480px) {
body .WhatsAppButton__root{display:none!important}
}
.col-12 .otp{text-align:center;max-width:100%;margin:0 auto;width:697px}
#update-info.eosh-btn{padding:14px 44px!important;font-size:17px;font-weight:700;border-radius:22px;color:#fff}
.col-12 .otp-heading{font-size:34px!important;font-family:PPAgrandir,sans-serif;text-transform:lowercase;color:#6b24b2!important}
#shopify-section-template--15671658643651__1661573697cd733060 .heeeding{text-align:center}
#shopify-section-template--15671658643651__1661573697cd733060 .heeeding h2{font-size:54px;color:#A255A4}
#shopify-section-template--15671658643651__1661573697cd733060 span.rainbow{background:#C3E8BA;background:repeating-radial-gradient(circle farthest-side at right center,#C3E8BA 0%,#E0C6BA 33%,#E2B5BF 52%,#D9A9CE 68%,#99A6F0 84%,#CAA6DD 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
@media(max-width:480px) {
#shopify-section-template--15671658643651__1661573697cd733060 .heeeding{text-align:center}
#shopify-section-template--15671658643651__1661573697cd733060 .heeeding h2{font-size:36px;color:#A255A4}
}
.nt_se_template--15671658643651__1661573697cd733060{margin-top:-5px!important;margin-right:auto!important;margin-bottom:0!important;margin-left:auto!important}
.nt_se_template--15671658643651__166157237558cd1de6{margin-top:0!important;margin-right:auto!important;margin-bottom:-30px!important;margin-left:auto!important}
.richtext_aac6382c-8ee6-4da3-9e94-d48cba52921e{font-size:13px;text-transform:uppercase;font-weight:600;color:#6b24b2}
@media(min-width:768px) {
#shopify-section-template--15596438323395__16463905630aa8bee9 .col-md-6{max-width:30%}
#shopify-section-template--15596438323395__16463905630aa8bee9 .col-md-6.txt_col_img{max-width:70%}
}
.prod-pointers{display:block;margin-bottom:-3px;font-size:12px;color:#6b24b2;font-weight:500}
p.wtu{margin:0;font-size:14px;margin-left:0;color:#6a6060; font-style:italic;text-transform:uppercase}
@media(max-width:500px){
  p.wtu{font-size:12px;}
  .pdp_byline{margin:-10px 0}
  p.so{font-size:10px}
}
p.so{margin:0;font-size:14px;margin-left:8px}
.richtext_aac6382c-8ee6-4da3-9e94-d48cba52921e.flexi{display:flex;align-items:center;margin-bottom:0!important}
.richtext_aac6382c-8ee6-4da3-9e94-d48cba52921e.flexi img{width:20px}
.cart_ori_price.dib{display:none!important}
.cart_dis_price.dib{display:none!important}
.ntheader .nt_menu>li>a{font-size:13.3px;text-transform:uppercase;padding:0 16px}
@media(min-width:1025px) and (max-width:1300px) {
.ntheader .nt_menu>li>a{font-size:13px;text-transform:uppercase;font-weight:500;padding:0 10px}
}
@media(min-width:1300px) and (max-width:1369px) {
.ntheader .nt_menu>li>a{padding:0 8px}
}
a.whatsapp__poweredBy.whatsapp__poweredBySideLefty img{display:none}
li.product-details__item.product-details__item--property{display:none}
.pr_short_des.rtet4{font-size:17px}
@media(max-width:500px) {
.always_atc{transform:translate3d(0,0,0)!important}
.sp-single .entry-summary>:not(:last-child){margin-bottom:10px}
}
@media(max-width:500px) {
.variations_button.in_flex.column.w__100.buy_qv_false{display:none}
.pr_short_des.rtet4{margin-bottom:-45px;font-size:15px}
}
h3.section-title.pr.fs__24.title_1.fbt{text-transform:capitalize}
@media(max-width:500px) {
.row.al_center.fbt{justify-content:center}
h3.section-title.pr.fs__24.title_1.fbt{text-align:center;font-size:23px;margin-top:15px}
div#wrap_fbt{width:90%;border:1px solid #b676b257;border-radius:12px;box-shadow:0 3px 9px #b676b233}
}
.nt_se_template--15596438323395__16389487071241e950 .quotes_des_2 .quote_slide,.quotes_des_3 .quote_slide{background:#6b24b2a6}
.nt_se_template--15596438323395__16389487071241e950 .quote_texts.mt__15 p{color:#fff}
.nt_se_template--15596438323395__16389487071241e950 .quote_author.cd.fwsb{color:#fff}
.label_icon.label_icon-mob.new-lab.trend,.label_icon.label_icon-mob.new-lab.best{background:#6b24b2;padding:5px 12px;margin-top:8px;font-size:15px;text-transform:capitalize;letter-spacing:1px;display:block;position:absolute;top:-19px;right:-321px;border-radius:0 10px 0 5px;font-weight:800;animation:instacol 2s infinite}
.metaflex{display:block;align-items:center;justify-content:space-between;min-height:62px}
.product-info.mt__15{background:#f5f5f5;padding:8px;margin-top:-14px;position:relative;border-radius:10px}
.nt_se_template--15773942677699__4ffb9fbe-0bd0-453d-a2e3-929f28f5c7bb.nt_full .product-info.mt__15{padding:10px 12px}
.nt_pr h3.product-title{min-height:25px}
.nt_se_template--15761640816835__39965f43-cf8a-4b57-a640-76093a5fd691 .cat_space_30{justify-content:center}
.product-inner.pr{box-shadow:3px 2px 6px 0 #ddd;border-radius:10px}
.main-img{border-radius:10px}
@media(max-width:500px) {
div#nt_content{background:#fff}
h3.product-title.pr.fs__14.mg__0.fwm{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px}
.prod-pointers{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:-4px;position:relative}
span.jdgm-prev-badge__text{font-size:9px!important;color:#6b24b2}
span.jdgm-prev-badge__stars{font-size:9px!important;color:#6b24b2}
.metaflex{min-height:49px}
a.button.button_primary.js_addtc.prodd{font-size:12px!important;padding:4px 7px!important;background:#b587d0;width:110px;text-align:center;min-height:20px}
.price ins{margin-top:-6px;font-size:13px!important}
.nt_se_template--15773942677699__4ffb9fbe-0bd0-453d-a2e3-929f28f5c7bb.nt_full .price ins{font-size:17px}
.price del{font-size:10px!important}
.nt_se_template--15773942677699__4ffb9fbe-0bd0-453d-a2e3-929f28f5c7bb.nt_full .price del{font-size:13px!important}
.main-container.mobile.pad{margin-top:-95px}
}
a.pr.pr_atc.cd.br__40.bgw.tc.dib.js_addtc.cb.chp.ttip_nt.tooltip_top_left{display:none}
a.button.button_primary.js_addtc.prodd{font-size:14px;padding:6px 12px;background:#E0C5FF;width:100%;border-radius:30px;letter-spacing:1px;text-transform:uppercase;border-color:#E0C5FF;color:#6b24b2}
.price del{color:#ae8fc4;font-weight:400;font-size:10px}
.price ins{color:#6a27af;font-size:13px;font-weight:500}
.rte_setting p{font-size:21px;color:#6a27af}
.cd.br__40.bgw.tc.dib.js__qs.cb.chp.ttip_nt.tooltip_top_left{display:none}
.rte_setting p{font-size:18px;color:#6a27af;margin-bottom:5px;padding:0 10px}
.btn_owl_2 .flickityt4s-prev-next-button{border-radius:50px}
.container.main{margin-top:31px}
.main-container.mobile.testim{margin-top:-50px}
button.flickityt4s-button.flickityt4s-prev-next-button{border-color:#6b24b2}
.fade_flick_1.slideshow{width:100%;height:auto}
.metaaflex{max-width:100%;display:flex;position:relative;justify-content:space-between;align-items:center;margin-top:6px;margin-bottom:13px}
.nt_se_template--15773942677699__4ffb9fbe-0bd0-453d-a2e3-929f28f5c7bb.nt_full .metaaflex{margin-bottom:-13px}
.nt_se_template--15773942677699__4ffb9fbe-0bd0-453d-a2e3-929f28f5c7bb.nt_full .nt_pr .product-info .price{width:300px}
@media(max-width:500px) {
.product.nt_pr.desgin__1{width:73%}
.label_style_rectangular .nt_label{font-size:18px;min-width:70px;border-radius:4px;padding:3px 10px;font-weight:500}
.nt_labels{left:7px;top:0}
.nt_se_template--15773942677699__39965f43-cf8a-4b57-a640-76093a5fd691.nt_full{width:200px}
#shopify-section-template--15773942677699__8c1200c5-c844-4c50-98b1-0d9d714d1802{margin-top:0!important}
}
div#shopify-section-pr_summary .price del,.price_range del{color:#ddd}
.nt_pr .product-info .price{width:100%}
i.iccl{color:#6b24b2}
.nt_cats_holder{margin-top:10px}
h3.product-title>a{color:#6b24b2}
.nt_se_template--15773942677699__8542ff6c-91c9-4f65-8714-51899c5432a2.nt_co_wide{background:#f4efff;padding:14px 0}
.nt_se_template--15773942677699__8c1200c5-c844-4c50-98b1-0d9d714d1802.nt_full{background:#f4efff;padding-bottom:28px;padding-top:15px}
div#shopify-section-template--15773942677699__8c1200c5-c844-4c50-98b1-0d9d714d1802{margin-top:-20px}
div#shopify-section-template--15773942677699__8542ff6c-91c9-4f65-8714-51899c5432a2{background:#f4efff}
.mt__30.nt_banner_holder{margin-top:72px}
.abs{position:absolute;top:3px;right:3px;z-index:5}
button.single_add_to_cart_button.button{color:#6b24b2;font-size:15px;background-repeat:no-repeat; border-radius:30px}
.nt_se_template--15784177205443__8542ff6c-91c9-4f65-8714-51899c5432a2.nt_co_wide{padding-top:23px}
#shopify-section-template--15784177205443__8c1200c5-c844-4c50-98b1-0d9d714d1802{background-color:#f4efff;margin-top:17px;padding:1px 29px}
div#shopify-section-template--15784177205443__8542ff6c-91c9-4f65-8714-51899c5432a2{background:#f4efff;padding-bottom:10px;margin-bottom:-17px}
.footer__top_wrap{padding-top:50px}
.flickityt4s-page-dots .dot{background:#6b24b2}
.pr_short_des.rtet4 p{margin-bottom:11px;font-size:12px}
/*CUSTOM COLLECTION CHANGES header */
.template-collection .page-title{text-transform:lowercase;color:#6b24b2!important;font-size:20px;margin-top:15px;}
@media(max-width:450px){
  .cat_sortby{width:100%;text-align:left;border:1px solid #cabaed;margin-right:12px;padding:10px;border-radius:5px}
a.in_flex.fl_between.al_center.sortby_pick{justify-content:space-between;width:100%}
.cat_filter.col.op__0.pe_none{display:none}
  .template-collection .page-title{text-transform:lowercase;color:#6b24b2!important;font-size:20px;margin-top:15px;text-align:left;margin-left:22px}
}
/*CUSTOM COLLECTION CHANGES header */
.nt_se_template--15786287464643__8542ff6c-91c9-4f65-8714-51899c5432a2.nt_co_wide{background:#f4efff;padding:17px 0}
#shopify-section-template--15786287464643__8c1200c5-c844-4c50-98b1-0d9d714d1802{background-color:#f4efff!important;padding:4px 10px 1px}
div#shopify-section-template--15786287464643__8542ff6c-91c9-4f65-8714-51899c5432a2{background:#f4efff;margin-bottom:-21px}
@media(max-width:500px) {
div#shopify-section-template--15786287464643__8542ff6c-91c9-4f65-8714-51899c5432a2{background:#f4efff;margin-bottom:0}
}
ul.sub-menu {
    background: #f4efff;
    border-left: 4px solid;
}                    
#price_ppr del {
    color: #9c9c9c;
}
a.truncate.out_stock.button.pe_none {display: block;text-align: center;border-radius: 7px;text-transform:uppercase}
a.truncate.out_stock.button.pe_none:hover{color:#fff}
.single_add_to_cart_button {background: #E0C5FF;}
.pr_short_des.rtet4 p {
    color: #606060;
}
.pr_short_des.rtet4 ul li {
    color: #606060;
}
.pr_short_des.rtet4 ul li::before {
    content: "\2022";
    color: #6b24b2;
    width: 10px;
    padding-right: 6px;
    margin-left: -18px;
}
.pr_short_des.rtet4 ul{list-style:none}
a.button.button_primary.js_addtc.atccrr {
    background: #E0C5FF;
    border-color: #E0C5FF;
    color: #6b24b2;
    text-transform: uppercase;
    padding: 8px 18px;
}
.upsell_item .upsell_qv i {
    color: #fff;
}
/*HTML A+*/
.pr_aplus {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.prod-usp {
    width: 47%;
}
.prod-Aplus{width:45%}
@media(max-width:450px){
  .pr_aplus{flex-direction:column}
  .prod-usp{width:100%}
  .prod-Aplus{width:100%}
}
/* HTML A+ USP */
.bits-all{display:flex;align-items:center;justify-content:center;padding:0 10px}
.best-bits{max-width:100%;width:700px;margin:0 auto}
.main-headingg{font-size:20px;text-align:center;padding-top:19px;font-weight:700}
.main-file{background-color:#f4efff;.bits-allimgwidth:25%}
.bits-all h2{width:70%;font-size:15px}
.mobile_only_title{display:block}
.mobile_only_price{display:none}
.desktop_only_title{display:none}
.desktop_only_price{display:block}
@media(max-width:450px){.best-bits{padding-bottom: 17px;}
                        .mobile_only_title{display:none}
                        .desktop_only_title{display:block}
                        .desktop_only_price{display:none}
                        .mobile_only_price{display:block}}
div#shopify-section-template--15836393570499__a9d822f9-bd9e-4749-b758-174398e5c7cb {
    display: none;
}
.nt_se_template--15836393570499__78d12267-ebea-42ce-b32f-fdb249b56faa.container {
    background: #6b24b2;
    margin: 0;
    margin-bottom: -8px!important;
    padding-bottom: 8px!important;
    margin-top: -10px!important;
    padding-top: 3px!important;
}