<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
    .desk_banner{display:block; max-width:100%}
    .mob_banner{display:none}
    h2.product-heading {
    text-align: center;
    margin-bottom: 0;
}
.main-banner video {
    max-width: 100%;
}
.bottom-fix {
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.top-hero {
    position: sticky;
    top: 0;
    z-index: 1;
}
h2.htu-heading {
    text-align: center;
}
    @media(max-width:450px){
        .mob_banner{display:block}
        .desk_banner{display:none}
    }
</style>
<div class="top-hero">
<div class="main-banner">
    <a href="products/glam-up-face-razor-pack-of-3"><video autoplay loop muted playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/830d841b80ee4b0f8ea7338d344a7fb5.mov" type="video/mp4">
    </video></a>
</div></div>
<div class="bottom-fix">
<div class="prod-caraousel">
    <h2 class="product-heading">✨Beauty's best kept secret✨</h2>
    <div class="aos-animation" data-aos="fade-up">{% section 'glam-up-block' %}</div>
</div>
<div class="3-in-row">
    {% section 'three-banners' %}
</div>
<div class="testimonials-glam-up">
    <h2 class="htu-heading">🥰 Fuss & Fuzz free 🥰</h2>
    <div class="aos-animtaion" data-aos="fade-up">{% render 'glam-up-htu' %}</div>
</div>
<div class="lookback"></div>
<div class="festive-ready"></div>
<div class="faqs">
    {% render 'glam-up-faq' %}
</div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>