<style>
  /*.main-rewards-container {
    background-image: url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_2.png?v=1693472229');
    background-size: 100%;
    background-repeat: no-repeat;
  }*/
  .cont-main-image img {
    width: 100%;
    padding: 15px
  }
  .rewards-heading h2 {
    line-height: 25px;
    font-size: 22px;
    font-weight: 300;
  }
  .rewards-heading {
    max-width: 100%;
    width: 300px;
    margin: -8px auto 0;
  }
  span.purp-strp {
    font-weight: 500;
    background: #6b24b2;
    color: #fff;
    padding: 4px 10px;
    line-height: 39px;
    border-radius: 7px;
  }
  .form-items {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
}
a#authenticator_product {
  max-width: 100%;
  display: block;
  text-align: center;
  background: rgb(252,154,194);
  background: linear-gradient(90deg, rgba(252,154,194,1) 0%, rgba(252,154,194,1) 17%, rgba(219,51,240,1) 100%);
  margin: 10px 0;
  padding: 4px;
  color: #ffff;
  border-radius: 4px;
  text-transform: uppercase;
}
.child-form {
    margin: 13px 0px;
}
label.child-labels {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}
#order_input{transition: :0.4s;}
</style>
<div class="main-rewards-container">
  <div class="rewards-cont">
    <div class="cont-main-image">
      <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_95.png?v=1692862362" alt="rewards banner"></h2>
    </div>
  </div>
  <div class="rewards-heading">
    <h2>Authenticate your<br> product and<br><span class="purp-strp">get a reward</span>
    </h2>
  </div>
  <div class="rewards-form">
    <div class="form-items">
      <div class="child-form name">
        <label for="" class="child-labels name">NAME</label>
        <input type="text" class="name" placeholder="Enter your name" id="name"></input>
      </div>
      <div class="child-form email">
        <label for="" class="child-labels email">EMAIL</label>
        <input type="email" class="email" placeholder="ENTER EMAIL" id="email-id"></input>
      </div>
      <div class="child-form phone">
        <label for="" class="child-labels phone">PHONE</label>
        <input type="tel" class="telephone" placeholder="ENTER PHONE" id="phone"></input>
      </div>
      <div class="child-form product-selection">
        <label for="" class="child-labels prod-selection">Select your product</label>
         <select name="product_dropdown" id="product_dropdown">
          {% for product in collections.all.products %}
            <option value="{{ product.id }}">
              <img src="{{ product.featured_image | img_url:'400x' }}" alt="{{ product.title }}" width="50">
              {{ product.title }}
              </option>
            {% endfor %}
            </select>
      </div>
      <div class="child-form channel-selection">
        <label for="" class="child-labels channel-select">SELECT CHANNEL</label>
        <select id="channel-dropdown" placeholder = "select ypur channel" id="channel">
          <option value="" selected>Select a Channel</option>
          <option value="shopify">D2C</option>
          <option value="amazon">Amazon</option>
          <option value="flipkart">Flipkart</option>
          <option value="nykaa">Nykaa</option>
          <option value="myntra">Myntra</option>
          <option value="meesho">Meesho</option>
          <option value="blinkit">Blinkit</option>
          <option value="zepto">Zepto</option>
          <option value="instamart">Instamart</option>
          <!-- Add more options as needed -->
          </select>
      </div>
      <div class="child-form shop-order-id" id="order_input" style="display:none">
        <label for="" class="child-labels shopify-order_id">ENTER LAST 4 DIGITS OF ORDER ID</label>
        <input type="number" maxlength="4" class="shopify-id"></input>
      </div>
      <div class="child-form authenticate">
        <a id="authenticator_product" href="#" target="_blank">Authenticate your product</a>
      </div>
    </div>
  </div>
</div>
<script>
  // Get references to the dropdown and button
  const dropdown = document.getElementById('channel-dropdown');
  const dynamicButton = document.getElementById('authenticator_product');
  const shopifyInput = document.getElementById('order_input');

  // Define the links corresponding to each dropdown option
  const linkMap = {
      amazon: 'https://www.amazon.in/gp/css/order-history?ref_=nav_orders_first',
      flipkart:'https://www.flipkart.com/account/orders?link=home_orders',
      nykaa:'https://www.nykaa.com/sales/order/history/v2?ptype=myOrder',
      blinkit:'https://blinkit.com/account/orders',
      zepto:'https://www.zeptonow.com/account/orders',
      instamart:'https://mybombae.in/collections/body',
      myntra:'https://www.myntra.com/my/orders',
      meesho:'https://www.meesho.com/orders'
      // Add more links as needed
  };
  // Add an event listener to the dropdown
  dropdown.addEventListener('input', function() {
        const selectedValue = dropdown.value;
        if (linkMap[selectedValue]) {
            dynamicButton.href = linkMap[selectedValue];
        }
    });
    dropdown.addEventListener('input',function(){
      if(dropdown.value === 'shopify'){
        shopifyInput.style.display = 'block';
      }
      else {
        shopifyInput.style.display = "none";
      }


    })
</script>
