<style>
  .first-heading {position: relative;max-width: 100%;background: #9550f4;padding: 30px 0;}
  h1.fh-text {font-size: 50px;line-height: 4;text-align: center;font-family: 'Recoleta-SemiBold';color: #fff;padding-top:67px}
  .chromwave {
    background: url(https://cdn.shopify.com/s/files/1/0577/1368/8771/files/wave-webpage.svg?v=1672133145) repeat-x;
    position: absolute;
    width: 3000px;
    height: 180px;
    top: 369px;
    background-size: 638px 180px;
    -webkit-animation: wave 18s cubic-bezier(.36,.45,.63,.53) infinite;
    animation: wave 18s cubic-bezier(.36,.45,.63,.53) infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
  @keyframes wave{
    0% {
    margin-left: 0;
}
    100%{margin-left: -600px;}
  }
  p.sec-para {
    font-family: 'Recoleta-Medium';
    font-size: 25px;
    text-align: center;
    color: #712cb3;
}
  h2.first-para {
    font-family: 'Recoleta-SemiBold';
    font-size: 40px;
    text-align: center;
    padding-top: 140px;
    color: #6b24b2;
}
 a.bae-apply {
    display: inline-block;
    padding: 11px 47px;
    background: #a467fc;
    position: relative;
    font-size: 20px;
    font-family: 'Recoleta-SemiBold';
    color: #fff;
    box-shadow: 4px 4px 0px 1px #331a4b;
   border-radius:8px;
}
  a.bae-apply:hover {
    transform: scale(0.98);
    box-shadow: 1px 1px 0px 1px #331a4b;
    color: #712cb3;
}
  img.bae-img {
    width: 68%!important;
    margin-top: 45px;
}
  .second-sec{
    background: url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/gradient-webpage.png?v=1672133638') no-repeat;
  }

  @media(max-width:500px){
    h1.fh-text {
    font-size: 37px;
    padding-top: 0px;
}
    .chromwave {
    width: 3000px;
    height: 182px;
    top: 212px;
    background-size: 372px 226px;
}
    h2.first-para {
    font-size: 23px;
    padding-top: 87px;
    margin: 0 13px;
  }
    p.sec-para {
    font-size: 20px;
    text-align: center;
    color: #a467fc;
    padding-top: 19px;
    margin: 0 27px;
    padding-bottom: 24px;
}
    img.bae-img {
    width: 100%!important;
    margin-top: 45px;
  }
  }
</style>
<div class="first-heading">
  <h1 class="fh-text">Join the Bae-Squad</h1>
</div>
  <div class="second-sec"style=" text-align: center;">
    <div class="chromwave"></div>
    <h2 class="first-para">Be the buzz of bombae, sample<br>our products and earn a stipend!</h2>
    <p class="sec-para">If you're bold, badass and would like to join the Bae-squad,<br>fill this form right away and we'll get in touch.</p>
    <div class="app-n"><a href="https://bombae.youthbeat.in/" target="_blank" class="bae-apply">Apply Now</a></div>
    <img class="bae-img" src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/model-webpage.png?v=1672133650" style="width:100%; height:auto">
  </div>