<style>
    .desk_banner{display:block; max-width:100%}
    .mob_banner{display:none}
    h2.product-heading {
    text-align: center;
    margin-bottom: 0;
}
.bottom-fix {
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.top-hero {
    position: sticky;
    top: 0;
    z-index: 1;
}
    @media(max-width:450px){
        .mob_banner{display:block}
        .desk_banner{display:none}
    }
</style>

<div class="top-hero">
<div class="main-banner">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/suryansh.jpg?v=1696497638" loading="lazy" alt="desktop-banner" class="desk_banner">
    <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/suryansh-2.jpg?v=1696497638" loading="lazy" alt="mobile banner" class="mob_banner">
</div></div>
<div class="bottom-fix">
<div class="prod-caraousel">
    <h2 class="product-heading">beauty's best kept secret</h2>
    {% section 'glam-up-block' %}
</div>
<div class="3-in-row">
    {%  section 'three-banners'  %}
</div>
<div class="testimonials-glam-up">
    <h2 class="htu-heading">fuss & fuzz free</h2>
    {% render 'glam-up-htu' %}
</div>
<div class="lookback"></div>
<div class="festive-ready"></div>
<div class="faqs"></div>
</div>
<script></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>