<style></style>

<div class="main-banner"></div>
<div class="fixed-section">
<div class="prod-caraousel">
    {% section 'glam-up-block' %}
</div>
<div class="3-in-row"></div>
<div class="testimonials-glam-up"></div>
<div class="lookback"></div>
<div class="festive-ready"></div>
<div class="faqs"></div>
</div>
<script></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>