<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<style>
  .ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}
.card {
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
/*   transition: 0.3s; */
}
.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}
  .slide-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.slide {
  grid-row: 1;
  grid-column: 1;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.lead {
  font-size: 5vw;
  line-height: 1.4;
  max-width: 90vw;
}

.scroll-trigger {
  background-color: #3c2946;
}

.title {
  font-size: 6vw;
  margin-bottom: 3rem;
  color: #ffffff;
  text-align: center;
}

.slide {
  width: 75vw;
  margin: 3rem auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.slide-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.image {
  margin: 5rem 0;
  grid-row: 1/span 2;
  grid-column: 2/span 2;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}
.slide[data-slide="1"] .image {
  background-color: rgba(255, 255, 255, 0.1);
}
.slide[data-slide="2"] .image {
  background-color: #56556e;
}
.slide[data-slide="3"] .image {
  background-color: rgba(255, 255, 255, 0.2);
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.75);
  grid-column: 1/span 2;
  position: relative;
  z-index: 1;
}

.text:nth-of-type(1),
.text:nth-of-type(2) {
  grid-row: 1;
}

.text:nth-of-type(3),
.text:nth-of-type(4) {
  grid-row: 2;
}

.text:nth-of-type(1),
.text:nth-of-type(3) {
  align-self: start;
  margin-right: 5rem;
}

.text:nth-of-type(2),
.text:nth-of-type(4) {
  align-self: center;
  grid-column: 3/span 2;
  margin-left: 5rem;
}

.scroll-prompt {
  height: 200px;
  width: 1px;
  background-color: #333333;
  display: block;
  margin: 2rem 0.2rem 2rem;
}
</style>

<<div class="cInnerContent">
  <h1 class="header-section gs_reveal ipsType_center">Scroll down and up to see different reveal animations</h1>
  
  <div class="features">

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
        <div class="card">
          <img width="479" src="https://picsum.photos/479/479?index=1" alt="">
        </div>
      </div>

      <div class="ipsGrid_span7 ipsType_left">
        <h2 class="heading_large gs_reveal">Create amazing <strong>SVG</strong> animations</h2>
        <p class="gs_reveal"><a href="https://greensock.com/drawsvg/">DrawSVGPlugin</a> allows you to progressively reveal (or hide) SVG strokes to make them look like they're being drawn. <a href="https://greensock.com/morphsvg/">MorphSVGPlugin</a> to Morph any SVG shape into any other shape smoothly regardless of the number of points in each. <a href="/docs/v3/Plugins/MotionPathPlugin">MotionPathPlugin</a> allows you to easily move any object along a path.</p>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="ipsGrid_span7 ipsType_right">
        <h2 class="heading_large gs_reveal">Supercharge immersive <strong>WebGL</strong> experiences</h2>
        <p class="gs_reveal">GreenSock is used in some of the most popular <a href="//threejs.org/">Three.js</a> powered WebGL projects. Animate any object in a scene. <a href="https://greensock.com/PixiPlugin/">PixiPlugin</a> makes animating <a href="//www.pixijs.com/">Pixi.js</a> objects with GSAP a breeze. Animate position, scale, color effects and more with all the power and control of GSAP and the rendering speed of Pixi.js.</p>
      </div>

      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
        <div class="card">
          <img width="479" src="https://picsum.photos/479/479?index=2" alt="">
        </div>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
        <div class="card">
          <img width="479" src="https://picsum.photos/479/479?index=3" alt="">
        </div>
      </div>

      <div class="ipsGrid_span7 ipsType_left">
        <h2 class="heading_large gs_reveal">Control performant <strong>Canvas</strong> animations</h2>
        <p class="gs_reveal">GSAP makes animating with Canvas even easier by providing an easier way to look and sequence animations. GSAP works great with <a href="//www.adobe.com/products/animate.html">Adobe Animate</a> and <a href="//createjs.com/easeljs">EaseJS</a> through GSAP's <a href="https://greensock.com/easelplugin/">EaselJSPlugin</a>.</p>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="ipsGrid_span7 ipsType_right">
        <h2 class="heading_large gs_reveal"><strong>Award winning</strong> websites</h2>
        <p class="gs_reveal">GSAP is used on over 8,500,000 sites and over 1,000 sites featured on <a href="https://www.awwwards.com/websites/gsap-animation/" target="_blank">Awwwards</a>. For some of our favorites, check out <a href="https://greensock.com/showcase/">our showcase</a>.</p>
      </div>

      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
        <div class="card">
          <img width="479" src="https://picsum.photos/479/479?index=4" alt="">
        </div>
      </div>
    </div>

  </div>
</div>

  <section>
  <p class="lead">ScrollTrigger from GreenSock makes it easier to craft elegant animations that are triggered <span style="display: inline-block">on scroll.</span></p>
  <div class="scroll-prompt"></div>
</section>

<section class="scroll-trigger">
  <div class="title">Pinned section</div>
  <div class="slide-container">
    <div class="slide" data-slide="1">
      <div class="image"></div>
      <p class="text">Import GSAP core and the ScrollTrigger plugin.</p>
      <p class="text">Create a GSAP timeline, passing in a ScrollTrigger object.</p>
      <p class="text">Set the trigger, and the start and end points.</p>
      <p class="text">Set pin and scrub to true.</p>
    </div>
    <div class="slide" data-slide="2">
      <div class="image"></div>
      <p class="text">Create tweens on your timeline for each step of the animation.</p>
      <p class="text">Image fades in, then text fades in...</p>
      <p class="text">...text fades out, then image fades out...</p>
      <p class="text">...next image fades in, next text fades in</p>
    </div>
    <div class="slide" data-slide="3">
      <div class="image"></div>
      <p class="text">Adjust the end point of your timeline...</p>
      <p class="text">...so that the scroll distance feels right.</p>
      <p class="text">For example, set it to "+=4000"...</p>
      <p class="text">...to add 4000px to its original calculation.</p>
    </div>
  </div>
</section>
<section>
  <div class="scroll-prompt"></div>
  <p class="lead">
    And that's it! ScrollTrigger figures out the maths so you can focus on <span style="display: inline-block">the rest.</span>
  </p>

</section>
<script>
  function animateFrom(elem, direction) {
  direction = direction || 1;
  var x = 0,
      y = direction * 100;
  if(elem.classList.contains("gs_reveal_fromLeft")) {
    x = -100;
    y = 0;
  } else if (elem.classList.contains("gs_reveal_fromRight")) {
    x = 100;
    y = 0;
  }
  elem.style.transform = "translate(" + x + "px, " + y + "px)";
  elem.style.opacity = "0";
  gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
    duration: 1.25, 
    x: 0,
    y: 0, 
    autoAlpha: 1, 
    ease: "expo", 
    overwrite: "auto"
  });
}

function hide(elem) {
  gsap.set(elem, {autoAlpha: 0});
}

document.addEventListener("DOMContentLoaded", function() {
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gs_reveal").forEach(function(elem) {
    hide(elem); // assure that the element is hidden when scrolled into view
    
    ScrollTrigger.create({
      trigger: elem,
      markers: true,
      onEnter: function() { animateFrom(elem) }, 
      onEnterBack: function() { animateFrom(elem, -1) },
      onLeave: function() { hide(elem) } // assure that the element is hidden when scrolled into view
    });
  });
});

  const tl = gsap.timeline({
  scrollTrigger: {
    trigger: ".scroll-trigger",
    pin: true,
    scrub: 1,
    start: "top top",
    end: "+=4000",
    toggleActions: "play pause play reset" } });



tl.from(".title", {
  opacity: 0,
  duration: 1 }).

from(
"[data-slide='1'] .image",
{
  opacity: 0,
  duration: 1,
  scale: 0.75 },

"+=1").

from(
"[data-slide='1'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=1").

to(
"[data-slide='1'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=10").

to("[data-slide='1'] .image", {
  opacity: 0,
  duration: 1 }).

from(
"[data-slide='2'] .image",
{
  opacity: 0,
  duration: 1,
  scale: 0.75 },

"+=1").

from(
"[data-slide='2'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=1").

to(
"[data-slide='2'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=10").

to("[data-slide='2'] .image", {
  opacity: 0,
  duration: 1 }).

from(
"[data-slide='3'] .image",
{
  opacity: 0,
  duration: 1,
  scale: 0.75 },

"+=1").

from(
"[data-slide='3'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=1").

to(
"[data-slide='3'] .text",
{
  opacity: 0,
  duration: 1,
  stagger: 1 },

"+=10").

to("[data-slide='3'] .image", {
  opacity: 0,
  duration: 1 });
</script>